@import "tailwindcss";

@theme {
    --font-display: 'Archivo Black', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
    --font-pixel: 'VT323', monospace;

    --color-primary: #EAB308;
    --color-retro-yellow: #FACC15;
    --color-retro-green: #86EFAC;
    --color-retro-orange: #FB923C;
    --color-retro-white: #F8FAFC;
    --color-retro-cream: #FFFDD0;
    --color-retro-charcoal: #18181B;

    --radius-xl: 24px;
    --radius-2xl: 40px;
}

/* Custom Utilities */
.text-stroke-black {
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.glow-text {
    text-shadow: 0 0 10px currentColor;
}

/* Custom Utilities */
.retro-grain {
    position: relative;
    isolation: isolate;
}

.retro-grain::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuAj-I5oGvCm632Vxj9b8YytHGOIw55q6ptzo578iwuKRtxtdMvSgyQ1c2FdUa_aJ2ztbLYbobDa1RAOwPORoHVQ4Ji12By73VYtGod4ZCpo8ocBUChNh58ySt4eaBOGdckbI3cYLhU5ys43WrZIKTUS4JVm1rAAdEN1fd3EodnLSoSfYqkTiavzesgpbQOdFIEMT8Nm11boWMvwggbXpJbJ_pN1-calobUzVtlupFAUjiqosLnZbpgJWuyDaTODlrZENUUtEL1p0hyL);
    opacity: 0.15;
    pointer-events: none;
    z-index: 10;
}

.bento-card {
    transition: transform 0.2s ease-in-out;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.3);
}

.bento-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.4);
}

.pixel-border {
    border: 4px solid #000;
    box-shadow: 4px 4px 0 #000;
}

.rainbow-header {
    background: linear-gradient(to bottom, #F00, #FF7F00, #FF0, #0F0, #00F, #4B0082, #8B00FF);
}

/* Material Symbols */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}